.Week {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  height: 60%;
  align-items: flex-end;

  .DaySale {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;

    .singleGraph,
    .resultGraph {
      position: absolute;
      width: 30px;
      bottom: 35px;
      background-color: var(--main-clr);
      left: 50%;
      transform: translateX(-50%);
      transition: height 350ms ease-out;
    }
    .singleGraph {
      height: 85%;
      opacity: 0.15;
    }

    .resultGraph {
      animation: RaiseHeight 1000ms ease-out forwards
        alternate;
    }
  }
}

.iconing {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;

  .oneIcon {
    display: flex;
    align-items: center;
    gap: 1rem;

    .with-shaded-bg {
      padding: 0.5rem;
      border-radius: 0.6rem;
      display: flex;
      width: fit-content;
      animation: fade-in 2s linear;

      &.purple {
        background-color: rgba(
          $color: #9155fd,
          $alpha: 0.1
        );

        svg {
          fill: #9155fd;
        }
      }

      &.green {
        background-color: rgba(
          $color: #56ca00,
          $alpha: 0.1
        );
        svg {
          fill: #56ca00;
        }
      }
    }

    .txt {
      p {
        margin: 0;
        &:first-child {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}

@keyframes RaiseHeight {
  0% {
    height: 0%;
  }
  100% {
    height: var(--sales-lvl);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
