.header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  .icons {
    display: flex;
    flex-grow: 0.9;
    justify-content: flex-end;
    gap: 1rem;

    button {
      background-color: transparent;
      border: none;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: var(--hover-clr);
      }
    }
  }
}
