.header {
  padding-top: 0.4rem;
  display: flex;
  a {
    flex-grow: 0.2;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--txt-clr);
  }

  .search {
    flex-grow: 0.9;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    border: 1px solid var(--dash-clr);
    height: 1.5rem;
    max-width: 20rem;
    border-radius: 1.3rem;
    padding: 0.4rem 1rem;

    &.focus {
      outline: 2px solid var(--main-clr);
    }

    svg {
      width: 30px;
      fill: var(--dash-clr);
    }
    input {
      border: none;
      background-color: transparent;
      color: var(--txt-clr);
      font-size: 1.3rem;
      &:focus {
        outline: none;
      }
    }
  }

  .icons {
    display: flex;
    flex-grow: 0.9;
    justify-content: flex-end;
    gap: 1rem;

    button {
      background-color: transparent;
      border: none;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: var(--hover-clr);
      }

      svg {
        fill: var(--txt-clr);
      }
    }
  }
}
