.Dashboard {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  grid-template-rows: 200px 1fr;
  gap: 1.5rem;

  & > div {
    background-color: var(--alt-bg);
    color: var(--txt-clr);
    padding: 1.25rem;
    position: relative;
    box-shadow: var(--shadow);

    @media (max-width: 30rem) {
      grid-column: span 2 !important;
    }

    h2 {
      margin-block: 0 0.4rem;
      font: {
        size: 1.5rem;
        weight: normal;
      }
    }
    p {
      font-size: 0.875rem;

      span {
        font-weight: bold;
      }
    }
    & > span {
      letter-spacing: 0;
      color: var(--main-clr);
      font-size: 1.5rem;
      display: block;
      margin-block: 1.3rem;
      animation: grow 2s ease;
    }

    .dots {
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }

  & > div:first-child {
    grid-column: 1/3;
    grid-row: span 2;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @media (max-width: 80rem) {
      grid-column: 1/-1;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: var(--bg-clr);
      transform: translateX(-25%) skewX(319deg);
      opacity: 0.25;
    }

    button {
      display: block;
      margin-top: 1rem;
      width: fit-content;
    }
    img {
      position: absolute;
      width: 70px;
      right: 50px;
      bottom: 20px;
      animation: pulse 1s 2 ease-in-out alternate;
    }
  }
  & > div:nth-child(2) {
    grid-column: 3/-1;
    grid-row: span 2;

    @media (max-width: 80rem) {
      grid-column: 1/-1;
    }

    .numbering {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      padding-inline: 0.5rem;
      flex-wrap: wrap;
      row-gap: 1rem;

      .NumberingIcon {
        display: flex;
        gap: 1rem;
        align-items: center;

        @media (max-width: 35rem) {
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;
        }

        & > div:first-child {
          background-color: var(--custm-bg);
          padding: 0.4rem 0.5rem 0.1rem;
          border-radius: 0.45rem;
          animation: gelatine 500ms 3 ease-out;

          svg {
            fill: #fff;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
  & > div:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    min-height: 400px;
  }
  & > div:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
    overflow: hidden;

    h6 {
      margin: 3rem 0 0;
      font-size: 2rem;

      span {
        font-size: 1rem;
        color: var(--success);
        position: relative;
        font-weight: normal;
        top: -5px;
        left: 5px;
      }
    }

    .earnings {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }

        & > div:first-child {
          display: flex;
          align-items: center;
          gap: 1.3rem;

          img {
            width: 40px;
            animation: bounce-in-right 1500ms ease;
          }
          p {
            margin: 0;
            &:first-child {
              font-size: 1.2rem;
              margin-bottom: 0.6rem;
            }
          }
        }

        & > div:last-child {
          div {
            width: 100%;
            height: 3px;
            position: relative;
            background-color: var(--custom-bg);

            &::after {
              position: absolute;
              content: "";
              width: var(--fill);
              background-color: var(--custom-bg);
              height: 100%;
              right: 0;
              filter: brightness(0.5);
            }
          }
        }
      }
    }
  }
  & > div:nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
  }
  & > div:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
  & > div:nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
  }
  & > div:nth-child(8) {
    grid-column: span 1;
    grid-row: span 1;
  }

  & > div:nth-child(5),
  & > div:nth-child(6),
  & > div:nth-child(7),
  & > div:nth-child(8),
  & > div:nth-child(10),
  & > div:nth-child(11) {
    position: relative;
    & > div {
      border-radius: 50%;
      background-color: var(--custom-bg);
      width: fit-content;
      padding: 0.4rem;
      display: flex;
      animation: gelatine 500ms 3 ease-out;

      svg {
        fill: #fff;
      }
    }
    h6 {
      margin-block: 1.5rem 1rem;
      font-size: 1rem;
    }
    p:first-of-type {
      font-size: 1.5rem;
      display: inline;
    }
    & > span {
      display: initial;
      font-size: 0.9em;
      position: relative;
      left: 10px;
      top: -10px;

      &.success {
        color: var(--success);
      }
      &.danger {
        color: var(--danger);
      }
    }

    & > span + p {
      margin-top: 2rem;
      margin-inline-start: 1rem;
      width: fit-content;
      position: relative;
      color: var(--custom-clr);
    }

    & > img {
      position: absolute;
      height: 110%;
      right: 30px;
      bottom: 0;

      animation: fade-in 2s linear;
    }
  }

  & > div:nth-child(9) {
    grid-column: span 2;
    grid-row: span 2;
    min-height: 300px;
  }
  & > div:nth-child(10) {
    grid-column: span 2;
    grid-row: span 1;
  }
  & > div:nth-child(11) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

.with-shaded-bg {
  &::before {
    content: "";
    position: absolute;
    background-color: currentColor;
    top: 50%;
    height: 100%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    padding: 0.1rem 0.7rem;
    border-radius: 0.6rem;
  }
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
