$pad: 2vw;

:root {
  --main-clr: #9155fd;
  --main-clr-d: #804bdf;
  --bg-clr: #28243d;
  --txt-clr: #cecbe3;
  --dash-clr: #e7e3fc33;
  --alt-bg: #312d4b;
  --hover-clr: #dbd4e50a;
  --success: #56ca00;
  --danger: #ff4c51;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-clr);
  margin: 0;

  &.light {
    --bg-clr: #f4f5fa;
    --txt-clr: #3a3541de;
    --dash-clr: #3a354161;
    --alt-bg: #fff;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &::after {
    background-color: currentColor;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    top: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%) scale(1.1);
    width: 50%;

    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }

  &:hover::after {
    opacity: 0.2;
  }
}

.container {
  width: 95vw;
  margin-inline: auto;
  padding-inline: $pad;
}
svg {
  width: 30px;
  fill: var(--txt-clr);
}
img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #cecbe3;
}
::-webkit-scrollbar-thumb {
  background: var(--main-clr-d);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-clr);
}
