.sect {
  background-color: var(--alt-bg);
  padding: 0.7rem;
  color: var(--txt-clr);
  width: calc(clamp(220px, 35vw, 70vw));

  &:not(:last-child) {
    border-bottom: 1px solid var(--dash-clr);
  }

  &:first-child {
    display: flex;
    justify-content: space-between;
  }

  &:nth-of-type(2) {
    max-height: 38vh;
    overflow-y: scroll;
  }
}

.head {
  font-size: 1.3rem;
}

.badge {
  background-color: var(--main-clr);
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  padding: 0 0.7rem;
  cursor: pointer;

  &:hover {
    background-color: var(--main-clr-d);
    box-shadow: 0px 6px 18px -8px rgba(19, 17, 32, 56%);
  }
}

.idle::-webkit-scrollbar {
  display: none;
}
